{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-outline-dark mt-auto">{% trans 'Sign Out' %}</button>
</form>

<div class="row">
  <div class="col">
      <div class="text-center">
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <a class="btn btn-outline-dark mt-auto" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i> Go back</a>
      </div>
  </div>
</div>   

{% endblock %}
