{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block inner_content %}
<h1 class="text-center">{% trans "Log Out" %}</h1>

<p class="text-center">{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="row">
    <div class="col">
        <div class="text-center">
          &nbsp;
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <a class="btn btn-outline-dark mt-auto" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i> Go back</a>
            <button type="submit" class="btn btn-outline-dark mt-auto">{% trans 'Log Out' %}</button>
        </div>
    </div>
  </div>   
</form>

{% endblock %}
