{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Section-->
        <div class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    {% if request.user.is_authenticated %}
                    <h1 class="display-4 fw-bolder">See the latest games in store now</h1>
                    <button type="button" class="btn btn-dark shop-now" onclick="location.href='{% url 'products' %}'">Shop Now</button>
                    {% else %}
                    <h1 class="display-4 fw-bold">Welcome to<br/>Game Store</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        {% else %}
        <h1 class="display-6 fw-light" style="margin-top: 50px; margin-bottom: 50px; margin-left: 10px; margin-right: 10px; text-align: center;">Please login or register to access the store</h1>
        {% endif %}
{% endblock %}