{% extends "account/base.html" %}
{% load static %}

{% block content %}
        <!-- Section-->
        <div class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">See the latest games in store now</h1>
                    <button type="button" class="btn btn-dark shop-now" onclick="location.href='{% url 'products' %}'">Shop Now</button>
                </div>
            </div>
        </div>
{% endblock %}