{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Thank you. Your order has been placed</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <p class="text-muted">A confirmation email has been sent to {{ order.email }} </p>
        </div>
    </div>
    <hr>
    <div class="row d-md-block d-none">
        <div class="col-12">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <h6>Order summary:</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h6>Product details:</h6>
                    </div>
                </div>

                {% for product in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">
                            {{ product.product.name }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ product.quantity }} @ £{{ product.product.selling_price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <h6>Postal address:</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address Line 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address Line 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h6>Payment details:</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Subtotal</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-md-none d-block text-center">
        <div class="col-12">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>Order summary</h6>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">Order Number: {{ order.order_number }}</small>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">Order Date: {{ order.date }}</small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h6>Product details:</h6>
                    </div>
                </div>

                {% for product in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <small class="small mb-0 text-black font-weight-bold">
                            {{ product.product.name }}
                        </small>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="small mb-0">{{ product.quantity }} @ ${{ product.product.selling_price }} each</small>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <h6>Postal address:</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.full_name }}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address Line 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.street_address1 }}</small>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address Line 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.street_address2 }}</small>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="d-md-block d-none col-md-4">
                        <p class="mb-0 text-black font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.county }}</small>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4 d-none">
                        <p class="mb-0 text-black font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.town_or_city }}</small>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4 d-none">
                        <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.postcode }}</small>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4 d-none">
                        <p class="mb-0 text-black font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">{{ order.country }}</small>
                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-12 col-md-8 text-md-right">
                        <small class="mb-0">Phone Number: {{ order.phone_number }}</small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h6>Payment details:</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 text-md-right">

                        <small class="mb-0">£{{ order.grand_total }} (£{{ order.order_total }} + £{{ order.delivery_cost }} delivery)</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <a class="btn btn-outline-dark mt-auto" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i> Go back</a>
                    <a class="btn btn-outline-dark mt-auto" href="{% url 'products' %}"><i
                                        class="fas fa-shopping-cart"></i> Continue Shopping </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_key" }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}