.card-image {
    width: auto;
}

.searchbar-center {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.shop-now {
    width: 200px;
    height: 50px;
    margin-top: 100px;
    font-weight: 700;
    font-size: 24px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.close {
    position: absolute;
    right: 10px;
}

.basket-notification-wrapper {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.stripe-style-input {
    width: 100%;
}

/* stripe CSS taken from stripe.com */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 50px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: black;
}

/* all auth formatting */

.allauth-form-inner-content {
    margin: auto 0;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 767px) {
    .allauth-form-inner-content {
        width: 100%;
    }
}

@media (min-width: 992px) {
.searchbar-center {
    flex: 0 0 auto;
    width: 33.33333333%;
    margin: auto;
}