{% load static %}
<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta name="google-site-verification" content="K4ORa8q1kDXOv2ejpzPgxyhZnnozmbWefww7IMtnS8M" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Gamestore</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'libraries/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'libraries/css/styles.css' %}" rel="stylesheet" />
    <!-- Fontawesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<!-- Toast Messages -->
{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}

<body>
    <div style="min-height: 85vh">
        <!-- Navigation-->
        {% include 'includes/nav.html' %}
        <!-- Header-->
        {% include 'includes/header.html' %}
        <!-- Search -->
        {% include 'includes/search.html' %}
        {% block content %}
        {% endblock %}
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-primary" style="width: 100%;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Game Store 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS -->
    <script src="{% static 'libraries/js/scripts.js' %}"></script>
    <!-- Stripe payments -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Custom scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    {% block postloadjs %}
    {% endblock %}
    <script>
        // Remove item and reload on click - in this file as csrf token needed with jinja
    $('.remove-product').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var productSku = $(this).attr('id').split('remove_')[1];
        console.log("remove")
        var url = `/basket/remove/${productSku}/`;
        console.log(url);
        var data = {'csrfmiddlewaretoken': csrfToken};
    
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    }); 
    </script>
</body>
</html>