{% extends "account/base.html" %}
{% load static %}

{% block content %}
        <!-- Section-->
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        {% if product.image %}
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ product.name }}
                            <!-- New badge-->
                        {% if product.selling_price < product.original_price %}
                        <div class="badge bg-danger text-white">Sale</div>
                        {% elif product.new == True %}
                        <div class="badge bg-success text-white">New</div>
                        {% endif %}
                        </h5>
                        <h5 class="fw">Platform: {{ product.category.friendly_name }}</h5>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <!-- Product rating-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            {% if product.rating == 5 %}
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            {% elif product.rating == 4 %}
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            {% elif product.rating == 3 %}
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            {% elif product.rating == 2 %}
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            {% elif product.rating == 1 %}
                            <div class="bi-star-fill"></div>
                            {% endif %}
                        </div>
                        <!-- Product age -->
                        Age: {{ product.age }} </br>
                        <!-- Product price-->
                        Price: {% if product.original_price == product.selling_price %}
                        £{{ product.original_price }}
                        {% else %}
                        <span class="text-muted text-decoration-line-through">£{{ product.original_price }}</span>
                        £{{ product.selling_price }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="image-container text-center">
                        <div>
                            <!-- Product image-->
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="card-img-top card-image" style="max-width: 300px; height: auto;" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top" style="max-width: 300px; height: auto;" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <p class="mt-3" style="padding-left: 10px; padding-right: 10px;">{{ product.description }}</p>
                    <form class="text-center form" action="{% url 'add_to_basket' product.sku %}" method="POST">
                        {% csrf_token %}
                        ﻿<input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <div class="form-row" style="display: flex; height: 50px; line-height: 50px;">
                            <div class="col-3" style="vertical-align: auto;">Quantity:</div>
                            <div class="input-group col-3" style="width:50px;">
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.sku }}" id="sku_qty_{{ product.sku }}">
                            </div>
                            <div class="col-6"> <button class="btn btn-outline-dark mt-auto" type="submit">Add to basket</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <a class="btn btn-outline-dark mt-auto" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left"></i> Go back</a>
                            <a class="btn btn-outline-success mt-auto text-black" href="{% url 'edit_product' product.sku %}">Edit product <i class="fas fa-pencil"></i></a>
                            <a class="btn btn-outline-danger mt-auto text-black" href="{% url 'delete_product' product.sku %}">Delete product <i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
{% endblock %}