{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Section-->
        <br />
        <!-- filter by type dropdown menu -->
        <div class="dropdown text-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ request.get_full_path }}&sort=name&direction=asc">Name</a>
              <a class="dropdown-item" href="{{ request.get_full_path }}&sort=selling_price&direction=asc">Price (lowest first)</a>
              <a class="dropdown-item" href="{{ request.get_full_path }}&sort=selling_price&direction=desc">Price (highest first)</a>
              <a class="dropdown-item" href="{{ request.get_full_path }}&sort=age&direction=asc">Age</a>
              <a class="dropdown-item" href="{{ request.get_full_path }}&sort=rating&direction=desc">Rating</a>
            </div>
          </div>

        <section class="py-5">
            <!-- each product item -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Console badge -->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; left: 0.5rem;">{{ product.category }}</div>
                            <!-- New badge-->
                            {% if product.selling_price < product.original_price %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem;">Sale</div>
                            {% elif product.new == True %}
                            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                            {% endif %}
                            {% if product.image %}
                            <!-- Product image-->
                            <img class="card-img-top card-image" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            {% else %}
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }} ({{ product.category }})</h5>
                                    <!-- Product rating-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% if product.rating == 5 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        {% elif product.rating == 4 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        {% elif product.rating == 3 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        {% elif product.rating == 2 %}
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        {% elif product.rating == 1 %}
                                        <div class="bi-star-fill"></div>
                                        {% endif %}
                                    </div>
                                    <!-- Product age -->
                                    Age: {{ product.age }} </br>
                                    <!-- Product price-->
                                    Price: {% if product.original_price == product.selling_price %}
                                    £{{ product.original_price }}
                                    {% else %}
                                    <span class="text-muted text-decoration-line-through">£{{ product.original_price }}</span>
                                    £{{ product.selling_price }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.sku %}">View item</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}